# Pycharm
/.idea/.gitignore
/.idea/BiFormer-Cifar100.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml

# Checkpoints
/checkpoints
/checkpoints/*

# Data
/data
/data/*

# Logs
/logs
/logs/*

# Output
/out
/out/*
